<?xml version="1.0" encoding="utf-8"?>

<!--
  Model primitives.

  Author: Gabryel Batista
-->

<robot name="rosbot3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rosbot3_description)/urdf/rosbot3.xacro"/>
  <xacro:include filename="$(find ros_commons)/urdf/gazebo.xacro"/>

  <xacro:skid_steer_controller
    name="skid_steer_controller"
    publish_odom="true"
    
    left_joint_0="joint_wheel_front_left"
    right_joint_0="joint_wheel_front_right"
    wheel_separation_0="${wheel_separation}"
    wheel_diameter_0="${wheel_diameter}"
    
    left_joint_1="joint_wheel_rear_left"
    right_joint_1="joint_wheel_rear_right"
    wheel_separation_1="${wheel_separation}"
    wheel_diameter_1="${wheel_diameter}"
  />

  <xacro:remove_friction position="front"/>
  <!-- <xacro:remove_friction position="rear"/> -->

  <xacro:depth_camera name="camera_front"/>
  <xacro:lidar_2d name="laser"/>
</robot>
